nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--bg-light);
  box-shadow: 0 4rem 10rem var(--bg-light);
}

nav div.title-container {
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

nav div.title-container * {
  margin-right: 1rem;
}

nav div .theme-toggle {
  font-size: 2.5rem;
  cursor: pointer;
  background: var(--text);
  border: var(--border) 2px solid;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  user-select: none;
}

nav div .navbar-title {
  font-size: 4rem;
  flex-grow: 1;
  text-decoration: none;
  /* Text border */
  text-shadow: 1px 1px 0 var(--bg-dark), -1px -1px 0 var(--bg-dark);
  font-weight: 500;
  color: var(--primary);
  translate: 0 .5rem;
}

nav div .menu-icon {
  display: none;
  font-size: 3rem;
  cursor: pointer;
  color: var(--primary);
  background: var(--bg);
  border: var(--border) 2px solid;
  border-radius: 1rem;
  user-select: none;
  width: 4.5rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav ul li .navbar-links {
  font-size: 3rem;
  text-decoration: none;
  padding: 1rem;
  color: var(--secondary);
  border-color: var(--border);
  border-radius: 1rem;
}

nav ul li .navbar-links.active {
  border-color: var(--border-muted);
  border-width: 2px;
  background: var(--bg);
  color: var(--primary);
}

nav ul li .navbar-links:hover:not(.active) {
  border-width: 1px;
  background: var(--gradient-highlight);
}

@media (max-width: 900px) {
  nav {
    flex-direction: column;
    padding: 1rem;
    padding-top: 1.5rem;
  }

  nav div .menu-icon {
    display: flex;
    justify-content: center;
  }

  nav ul {
    display: none;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    padding-top: 1rem;
    flex-direction: column;
    align-items: center;
    background: var(--bg);
    border: var(--border-muted) 2px solid;
  }

  nav ul li {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li .navbar-links {
    color: var(--secondary);
    display: block;
    width: 100%;
    border-radius: 0;
  }
}