nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  padding-top: 10px;
  background: var(--bg-light);
  box-shadow: 0 40px 100px var(--bg-light);
}

nav div.title-container {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div.title-container * {
  margin-right: 10px;
}

nav div .theme-toggle {
  font-size: 25px;
  cursor: pointer;
  background: var(--bg);
  border: var(--border-muted) 2px solid;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30%;
  user-select: none;
  transform: translateY(-7px);
}

nav div .navbar-title {
  font-size: 40px;
  flex-grow: 1;
  text-decoration: none;
  /* Text border */
  text-shadow: 1px 1px 0 var(--bg-dark), -1px -1px 0 var(--bg-dark);
  font-weight: 500;
  color: var(--primary);
}

nav div .menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: var(--primary);
  background: var(--bg);
  border: var(--border) 2px solid;
  border-radius: 20%;
  user-select: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav ul li .navbar-links {
  font-size: 30px;
  text-decoration: none;
  padding: 10px;
  color: var(--secondary);
  border-color: var(--border);
  border-radius: 10%;
}

nav ul li .navbar-links.active {
  border-color: var(--border-muted);
  border-width: 2px;
  background: var(--bg);
  color: var(--primary);
}

nav ul li .navbar-links:hover:not(.active) {
  border-width: 1px;
  background: var(--grad-hover);
}

@media (max-width: 900px) {
  nav {
    flex-direction: column;
    padding: 10px;
    padding-top: 15px;
  }

  nav div .menu-icon {
    display: flex;
  }

  nav ul {
    display: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    background: var(--bg);
    border: var(--border-muted) 2px solid;
  }

  nav ul li {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li .navbar-links {
    color: var(--secondary);
    display: block;
    width: 100%;
    border-radius: 0;
  }
}