* {
  box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
  min-width: 300px;
}

/* If mobile, scale down */
@media (max-width: 600px) {
  html {
    font-size: 50%;
    /* 1rem = 8px */
  }
}

* {
  transition: background 0.2s ease-in-out,
    color 0.2s ease-in-out,
    border-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

/* Check for is motion enabled */
@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}