:root {
  /* background; */
  --bg-dark: oklch(0.1 0.05 84);
  --bg: oklch(0.15 0.05 84);
  --bg-light: oklch(0.2 0.05 84);

  /* text */
  --text: oklch(0.96 0.1 84);
  --text-muted: oklch(0.76 0.1 84);

  /* border */
  --highlight: oklch(0.5 0.1 84);
  --border: oklch(0.4 0.1 84);
  --border-muted: oklch(0.3 0.1 84);

  /* Action */
  --primary: oklch(0.76 0.1 84);
  --secondary: oklch(0.76 0.1 264);

  /* Alert */
  --danger: oklch(0.7 0.1 30);
  --warning: oklch(0.7 0.1 100);
  --success: oklch(0.7 0.1 160);
  --info: oklch(0.7 0.1 260);

  /* Custom defined */
  /* Gradients */
  --text-hover: color-mix(in srgb, var(--text-muted) 40%, var(--text));
  --gradient-highlight: linear-gradient(to bottom, var(--bg) 0%, var(--bg-light) 100%);
  --gradient-highlight-dark: linear-gradient(to bottom, var(--bg-dark) 0%, var(--bg) 100%);
}

body.light {
  --bg-dark: oklch(0.92 0.05 84);
  --bg: oklch(0.96 0.05 84);
  --bg-light: oklch(1 0.05 84);
  --text: oklch(0.15 0.1 84);
  --text-muted: oklch(0.4 0.1 84);
  --highlight: oklch(1 0.1 84);
  --border: oklch(0.6 0.1 84);
  --border-muted: oklch(0.7 0.1 84);
  --primary: oklch(0.4 0.1 84);
  --secondary: oklch(0.4 0.1 264);
  --danger: oklch(0.5 0.1 30);
  --warning: oklch(0.5 0.1 100);
  --success: oklch(0.5 0.1 160);
  --info: oklch(0.5 0.1 260);

  /* Custom defined */
  /* Gradients */
  --text-hover: color-mix(in srgb, var(--text-muted) 40%, var(--text));
  --gradient-highlight: linear-gradient(to bottom, var(--bg) 0%, var(--bg-light) 100%);
  --gradient-highlight-dark: linear-gradient(to bottom, var(--bg-dark) 0%, var(--bg) 100%);
}